<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
       <button id="clickme">Click!</button> 
       <script>
            //var json = {'username':"yusuf123"}
           function send(uri,jsondata,callback){
           
            $.ajax({
                type: "POST",
                url: uri,
                contentType: 'application/json',
                data: JSON.stringify(jsondata),
                cache: false,
                success: function(data) {
                    callback(data);
                },
            });
           }
           
           $("#clickme").click(function(){
            send("finduser/",json,function(data){
                console.log(data);
            })
               
           })
       </script>
</body>
</html>