<html lang="en">
<head>
    <%- include('inc/head') %> 
</head>
<body>
    <p>Şifrenizi mi unuttunuz?</p>
    <input type="text" id="username" name="username" placeholder="kullanıcı adınızı giriniz">
    <input id="securecode" type="submit" value="doğrulama kodunu gonder">
    <input type="text" id="forgotmail" name="forgotmail" placeholder="6-Digit Security Code">
    <input type="submit" value="Doğrula" id="gonder">


    <script src="send.js"></script>
    <script>
        var sentcode = "";
         $("#securecode").click(function(){
            var jsdata = {'username':$('#username').val()};
            
            send("forgotpassword",jsdata,function(data){
                
                    
                    alert('e-postanıza bağlantı gönderildi.15 dakika içinde açınız');
                    sentcode = data;
                    console.log(data);
                    console.log(sentcode);
                
            }) 
            
        })
       $("#gonder").click(function(){
           console.log(sentcode); 
           
           var code = $("#code").val();
           if(code ==sentcode){
               alert("doğru");
               
           }
           else{
               alert("yanlış");
           }

       })
       
        

    </script>
</body>
</html>