<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body>
   <input id="password" type="text" placeholder="yeni şifrenizi giriniz">
   <input id="re_password"type="text" placeholder="şifrenizi tekrar giriniz">
   <input type="submit" value="gönder" id="gonder">
    
   <script>
       //var json = {'username':"yusuf123"}
function send(uri,jsondata,callback){
    $.ajax({
        type: "POST",
        url: uri,
        contentType: 'application/json',
        data: JSON.stringify(jsondata),
        cache: false,
        success: function(data) {
            callback(data);
        },
        error: function(error){
            callback(error);
        }
    });
   }

          $('#gonder').click(function(){
              console.log(window.location.href);
              var password = $('#password').val()
              var re_password = $('#re_password').val()
              var jsdata = {'password':password};
              if(password === re_password){
                send(window.location.href,jsdata,function(data){
                    alert(data);
                    console.log(data);
                })
              }
              else{
                alert('lütfen aynı şifreleri giriniz')
              }
          })
       
   </script> 
</body>
</html>