<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <input type="text" id="username" name="username" placeholder="Kullanıcı Adınızı Giriniz..">
    <p id="response"></p>
    <input type="text" id="password" name="password" placeholder="parola">
    <input type="text" id="forgotmail" name="forgotmail" placeholder="kurtarma maili">
    <input type="submit" value="gonder" id="gonder">
    <a href="forgotpassword">Şifremi Unuttum</a>
    <script src="usercheck.js">
    </script>
    <script src="sendrequest.js"></script>
    <script src="deneme.js"></script>
    <script src="send.js"></script>
    <script>
         $("#gonder").click(function() {
        var username = $("#username").val();
        var password = $("#password").val();
        var forgotmail = $("#forgotmail").val();
        var jsdata = {'username':username,'password':password,'forgotmail':forgotmail};
        send("/registration",jsdata,function(data){
            alert(data);
        })
     
     });
        sendreq("finduser/",function(data){
            alert(data);
        });
  </script>
</body>
</html>
